<header>
  <div class="header main-width">
    <a href="https://refpa58144.com/L?tag=d_4753947m_1599c_&site=4753947&ad=1599" target="_blank" class="header__logo">Elbette 1xBet’te!</a>
    <div class="header__nav">
      <nav>
        <ul>
          <li><a href="#clip">Klip</a></li>
          <li><a href="#advantages">Avantajlar</a></li>
          <li><a href="#compare">Seçimini Yap</a></li>
        </ul>
      </nav>
      </div>
      <a class="header__btn" href="https://refpa58144.com/L?tag=d_4753947m_1599c_&site=4753947&ad=1599" target="_blank"><span class="btn">Hemen Oyunu Ver</span></a>

    <div class="header__mobile-btn"></div>
   </div> 
</header>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const mobileBtn = document.querySelector('.header__mobile-btn');
  const nav = document.querySelector('.header__nav');
  const header = document.querySelector('header');
  if (mobileBtn && nav && header) {
    mobileBtn.addEventListener('click', function() {
      mobileBtn.classList.toggle('close');
      nav.classList.toggle('open');
      header.classList.toggle('nav-open');
    });
  }
});
</script>